<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>monica needs to write something nice about contacting her here</p>
            </div>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/PRISM-NAIL-STUDIO-323692248387764/" target="_blank">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>

    </div>
</section>
