<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <p>Send me a message, I'd love to hear from you.<br>
                Let's create something amazing together.</p>
                <form>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input id="email" type="email" class="form-control" placeholder="Email">
                        <label>Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name">
                        <label>Message</label>
                        <textarea type="text" class="form-control" rows="3">Enter your message here</textarea>
                    </div>
                    <button id="submit" class="btn btn-primary" title="Submit">Submit</button>
                </form>
                <hr class="primary">
                <p>Or check out social media links below.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://instagram.com/{{ site.instagram_username }}" class="btn btn-network btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">instagram</span></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/PRISM-NAIL-STUDIO-323692248387764/" class="btn btn-network btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
</section>