
<section class="bg-dark" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h4>Documents</h4>
                    <p>
                        <a href="/CancellationPolicy.pdf" alt="cancellation policy">Cancellation Policy PDF</a><br>
                        <a href="/PrismNailStudio_ServiceMenu.pdf" alt="services menu">Services Menu PDF</a>
                    </p>
                </div>
            </div>
        </div>
    </section>